/* PAGE SIZING */
body {
    background-image: url("/static/backgrounds/bg2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    padding-top: 7vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
/* PAGE SIZING */

/* NAVIGATION BAR */
.navbar.navbar-default.navbar-fixed-top{
    opacity: 0.7;
    background-color: rgba(62, 63, 59, 0.493);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; 
}
.navbar-brand img {
    height: 2vh;
}
.navbar.navbar-default.navbar-fixed-top li a{
    color: rgb(161, 104, 84);
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;
    }
  } 
/* NAVIGATION BAR */

/* CARDS */

.column {
    float: left;
    width: 22.5%;
    height: 80vh;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* border-radius: 10px; */
    margin-bottom: 30px;
    height: 90vh;
    /* background-color: rgba(0, 0, 0, 0); */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.images {
    height: 72vh;
}

.container {
    padding: 2px 16px;
    background-color: rgba(211, 216, 199, 0.493);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 8vh;
}

.big_card_img {
    height: 24vh;
    /* max-width: 28vw;
    max-height: 37vh;
    min-width: 27vw;
    min-height: 37vh; */
}

.card_img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* max-width: 28vw;
    max-height: 37vh;
    min-width: 27vw;
    min-height: 37vh; */
}

/* CARDS */
