<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>YOYOYO</title>
    </head>
    <body>
    <h1>YOYOYO</h1>
    <div>
        <div>
            {% if tags %}
            <ul>
            {% for tag in tags %}
            <li>
                <a href = "/rango/tag/{{ tag.slug }}"><h1>{{ tag.name }}</h1></a>
                <p>{{ tag.likes }}</p>
            </li>
            {% endfor %}
            </ul>
            {% else %}
            <strong>There are no tags. Be the first to make one!</strong>
            {% endif %}
        </div>
    </div>
    <a href="/rango/add_tag/">Create a new Tag</a><br />
    <div>
        <a href="/rango/about/">About</a><br />
        <img src = "{% static 'images/cow.jpg' %}" alt = "your mom" style = "height: 50vh; width: 50vw;">
    </div>
    </body>
</html>