<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>YOYOYO</title>
    </head>
    <body>
    <h1>YOYOYO</h1>
    <div>
        <div>
            {% if tag %}
                <h1>{{ tag.name }}</h1>
                {% if photos %}
                    <ul>
                        {% for photo in photos %}
                        <!-- <li><a href = "{{ photo.url }}">{{ photo.title }}</a></li> -->
                        <li>{{ photo.title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                <strong>No pictures have been submitted with this Tag!</strong>
                {% endif %}
            {% else %}
            <h1>This Tag does not exist</h1>
            {% endif %}
        </div>
    </div>
    <div>
        <a href="/rango/about/">About</a><br />
        <img src = "{% static 'images/cow.jpg' %}" alt = "your mom" style = "height: 50vh; width: 50vw;">
    </div>
    </body>
</html>